<div class="d-flex w-100 h-100">
  <div class="w-25 border border-3 card m-3 bg-dark bg-opacity-10">
    <app-chat-rooms></app-chat-rooms>
  </div>
  <div class="w-75 border border-3 card m-3">
    <div class="card-header fw-bolder"># Design anpassen</div>
    <div class="card h-100 m-2">
      <div class="text-end me-3 fw-bolder">Basti...</div>
      <span class="m-2 text-end me-5">Wie meinst du das?</span>
      <div class="ms-3 fw-bolder">Petra...</div>
      <span class="m-2 ms-5">Das kann ich dir nicht erklären!?</span>
      <div class="ms-3 fw-bolder">Petra...</div>
      <span class="m-2 ms-5">Kommst du zurecht?</span>
      <div class="text-end me-3 fw-bolder">Basti...</div>
      <input
        type="text"
        value="Keine weiteren Fragen. Danke"
        class="m-2 me-5 ms-5"
      />
    </div>
  </div>
</div>
